<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>CoronaVirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
  <div class="container">
  <h1>CoronaVirus Tracker Application</h1>
  <p>This application list the current number of cases reported across the globe</p>
   
  <div class="jumbotron">
  	<h1 class="display-4" th:text="${totalReportedCases}"></h1>
  	<p class="lead">Total cases reported today</p>
  	<hr class="my-4">
  	<p>
  		<span>New Cases reported since previous day:</span>
  		<span th:text="${totalNewCases}"></span>
  	</p>
  	
</div>

    <table class="table">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Changes since last day</th>
      </tr>
      <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffFromPrevDay}">0</td>
      </tr>
    </table>
  </div>
  </body>

</html>